*{
    box-sizing: border-box;
}

body { 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.header {
    padding:0;
}

.high-scores-nav {
    padding: 10px;
    font-size: 16px;
    text-align: left;
}

.timer {
    margin-top: 0;
    font-size: 16px;
    text-align: right;
}

main {
    display: flex-box;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 30px;
    border: 3px solid black;
    text-align: center;
}


h1 {
   color: red;
   text-align: center;   
}

p {
    text-align: center;
}

.start-button {
    margin: 0 auto;
    background-color: black;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 7px;
    cursor: pointer;    
    transition: background-color 0.3s ease;
}
button:hover {
    background-color:gray;

}
button:active {
    background-color: gray;
}